.container {
    width: 100%;
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 64px;
    width: 100%;
    font-family: var(--font-family);
    color: var(--primary-color);
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 90px;
}

.desc {
    width: 100%;
    text-align: center;
    font-family: var(--font-family);
    color: var(--text-primary);
    margin-bottom: 120px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}