:root {
    --primary-color: #CC011D;
    --secondary-color: #fff;
    --text-primary: #000;
    --text-secondary: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}