.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 420px; */
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1445px;
}

.list {
    width: 100%;
    max-width: 376px;
    height: 80px;
    margin: 24px 0;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    list-style: none;
}

.containerTotal {
    width: 100%;
    max-width: 376px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.credits {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 24px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--text-secondary);
}