.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 34px;
}

.containerTitle {
    width: 291px;
    background-color: var(--primary-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.title {
    width: 100%;
    text-align: center;
    color: var(--text-secondary);
    padding: 12px;
}

.content {
    width: 597.15px;
    /* height: 259px; */
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    overflow: hidden;
}