.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3 {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    font-family: var(--font-family);
}

.desc {
    max-width: 1000px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 45px;
    font-family: var(--font-family);
    padding: 24px 0 45px 0;
}