.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 34px;
}

.containerTitle {
    width: 291px;
    background-color: var(--primary-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.title {
    width: 100%;
    text-align: center;
    color: var(--text-secondary);
    padding: 12px;
}

.content {
    width: 597.15px;
    /* height: 259px; */
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    overflow: hidden;
}

.containerCount {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--primary-color);
}

.total {
    width: 80%;
    text-align: right;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: var(--primary-color);
    padding: 0 24px;
    background-color: #fff;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: inset -12px 0px 10px -6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: inset -12px 0px 10px -6px rgba(0, 0, 0, 0.23);
    box-shadow: inset -12px 0px 10px -6px rgba(0, 0, 0, 0.23);
}

.creditosTotales {
    width: 20.1%;
    background-color: var(--primary-color);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    color: var(--text-secondary);
}